{% if tags and "post" in tags %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ title | dump | safe }},
  "description": {{ (description or site.description) | dump | safe }},
  "image": "{{ site.url }}{{ image or site.author.image }}",
  "datePublished": "{{ date | dateToISO }}",
  "dateModified": "{{ date | dateToISO }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | dump | safe }},
    "url": "{{ site.author.url }}",
    "image": "{{ site.url }}{{ site.author.image }}",
    "sameAs": [
      "{{ site.author.linkedin }}",
      "{{ site.author.instagram }}"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.publisher.name | dump | safe }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.publisher.logo }}"
    }
  }
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ title | dump | safe }},
  "description": {{ (description or site.description) | dump | safe }},
  "url": "{{ site.url }}{{ page.url }}",
  "publisher": {
    "@type": "Organization",
    "name": {{ site.publisher.name | dump | safe }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.publisher.logo }}"
    }
  }
}
</script>
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | dump | safe }},
  "url": "{{ site.url }}"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.author.name | dump | safe }},
  "url": "{{ site.author.url }}",
  "image": "{{ site.url }}{{ site.author.image }}",
  "sameAs": [
    "{{ site.author.linkedin }}",
    "{{ site.author.instagram }}"
  ],
  "worksFor": {
    "@type": "Organization",
    "name": {{ site.publisher.name | dump | safe }}
  }
}
</script>
