---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---
<h1>Tags</h1>
<ul class="tag-list">
  {% for tag in collections.tagList %}
  <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a></li>
  {% endfor %}
</ul>
